<%= semantic_form_for [@expert_system,@diagnosed_object], html: { class: "form-inline" } do |f| %>
    <%= f.label :prefer_beef, :class => 'control-label' %>
    <%= f.check_box :prefer_beef, :class => 'check_box' %>
    <%= f.inputs html: { class: "control-group error" } do %>
        <div class="control-group">
          <div class="controls">
            <div class="row form-header">
              <div class="span2">
                <h3>Name</h3>
              </div>
              <div class="span7">
                <% @diagnosed_object.diagnostic_variables.size.times do |index| %>
                    <div class="span1 variable-number">
                      <% if @expert_system.standards.first.diagnostic_variables[index].beef %>
                          <% beef = "beef"  %>
                      <% else  %>
                          <% beef = ""  %>
                      <% end %>
                      <%= content_tag(:h3, index+1, class: "number #{beef}") %>
                    </div>
                <% end %>
              </div>
            </div>
            <div class="row state">
              <%= f.inputs do %>
                  <div class="span2">
                    <%= f.input :name, label: false, input_html: { class: "span2" } %>
                  </div>
                  <div class="span7">
                    <% index = 0 %>
                    <%= f.semantic_fields_for :diagnostic_variables do |diagnostic_variable| %>
                        <% if @diagnosed_object.diagnostic_variables[index].beef %>
                            <% beef = "beef" %>
                        <% else %>
                            <% beef = "" %>
                        <% end %>
                        <%= diagnostic_variable.input :value, label: false, in: 0..1, step: 0.1, input_html:
                                { class: "span1 object_variable #{beef}" }, :wrapper_html => { :class => 'fl' } %>
                        <%= diagnostic_variable.input :beef, :wrapper_html => { :style => "display:none;" } %>
                        <% index += 1  %>
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  expert_systems_path, :class => 'btn' %>
    </div>
<% end %>
