<%- model_class = DiagnosedObject.new.class -%>
<%= provide(:title, model_class.model_name.human.pluralize) %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:directive) %></th>
      <th><%= model_class.human_attribute_name(:expert_system_id) %></th>
      <th><%= model_class.human_attribute_name(:prefer_beef) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @diagnosed_objects.each do |diagnosed_object| %>
      <tr>
        <td><%= link_to diagnosed_object.id, [@expert_system, diagnosed_object] %></td>
        <td><%= diagnosed_object.name %></td>
        <td><%= diagnosed_object.state %></td>
        <td><%= diagnosed_object.directive %></td>
        <td><%= diagnosed_object.expert_system_id %></td>
        <td><%= diagnosed_object.prefer_beef %></td>
        <td><%=l diagnosed_object.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_expert_system_diagnosed_object_path(@expert_system, diagnosed_object), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [@expert_system, diagnosed_object],
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_expert_system_diagnosed_object_path,
            :class => 'btn btn-primary' %>
