<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= render 'layouts/shim' %>
  <%= csrf_meta_tags %>

  <link href="images/favicon.ico" rel="shortcut icon">
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Expert system</a>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <%= render 'shared/navigation' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <header>
    <%= render 'shared/flash_messages' %>
    <h1><%= yield(:title) %></h1>
  </header>
  <div class="content">
    <%= yield %>
  </div><!--/content-->

  <footer>
    <p>Expert system &copy; 2012 by <a href="https://twitter.com/#!/AlexeevS">Sergey Alekseev</a></p>
  </footer>

  <%= debug(params) if Rails.env.development? %>

</div> <!-- /container -->

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        buttonsDisableLogic($('div.row.state').length,$('div.row.state:first').find('.fl.number').length);
        fillBeefs();
        fillStandards();
        autoFill();
    });
</script>

</body>
</html>
